@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff"),
    url("fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff2");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff"),
    url("fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff2");
}
